@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255, 0, 0);
  border: 3px solid white;
  border-radius:20px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(0, 217, 255);
  border: 3px solid rgb(255, 255, 255);
  transition: 3s ease-out;
}
:root{
  --primary-color:#1b1b1b;
  --second-color:#fff;
  --third-color:#000;
}
.darkmode{
  --primary-color:#fff;
  --second-color:#000;
  --third-color:#fff;
}

#moon{
  width: 30px;
  cursor: pointer;
  margin-left: 20px;
  padding: 2px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

body{
  background-color: var(--primary-color);
}
::selection {
  color: var(--third-color);
  background: var(--second-color);
} 


nav {
  position: fixed;
  background: var(--primary-color);
  width: 100%;
  padding: 10px 0;
  z-index: 15;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 35px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: var(--second-color);
  color: var(--third-color);
}

.img {
  background: url("cam1.png") no-repeat;
  width: 100%;
  height: 100vh;
  /* top: 30px; */
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: var(--third-color); */
}
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  /* background-color: var(--primary-color); */
}
.center .title {
  color: var(--second-color);
  font-size: 65px;
  font-weight: 600;
}
.center .sub_title {
  color: var(--second-color);
  font-size: 45px;
  font-weight: 600;
}
.center .btns {
  margin-top: 20px;
}
.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid var(--second-color);
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}



.specification{
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 200px;
  padding: 0px;
}
.specification h2{
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  text-align: center;
  margin-top: 70px;
}
.specs{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 100px;
  margin-top: 20px;
}
.specs img{
  width: 350px;
}
.specs dl{
  margin-left: 100px;
}
.specs dl, dd, dt{
  width: 500px;
}
.specs dt{
  text-transform: uppercase;
  font-weight: 800;
  color: var(--second-color);
}
.specs dd{
  font-weight: 400;
  color: var(--second-color);
  margin-left: 50px;
}




.prooverview{
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.prooverview h2{
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  text-align: center;
  margin-top: 70px;
}
.procontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.procontainer h3{
  font-size: 25px;
  padding-top: 30px;
  color: var(--second-color);
  text-align: center;
}
div.overview{
  padding: 30px;
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.overview p{
  margin: auto;
  padding: 40px;
}
.overview img{
  max-width: 100%;
  width: 420px;
  height: 290px;
} 




.image{
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 29px;
  padding: 0px;
}
.image h2{
  padding: 30px;
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  text-align: center;
  margin-top: 50px;
}
.image img{
  width: 500px;
  height: 350px;
  margin: 0px 90px;
}
.image .sample1{
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--second-color);
  margin: 0px 40px;
  margin-bottom: 50px;
  padding: 0px;
}
.image .sample1 .sample-text{
  margin:50px;
}
.image .sample1 .sample-text h3{
  font-size: 35px;
  /* margin: 30px; */
  padding: 20px;
}
.image .sample1 .sample-text p{
  text-align: justify;
  padding: 20px;
}
.image .sample1 .sample-text p span{
  text-align: justify;
  visibility: hidden;
}
.sample-text button{
  background: var(--primary-color);
  border: 2px solid var(--second-color);
  margin: 20px;
  padding: 8px;
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor:pointer;
}
.sample-text button:hover {
  background: var(--second-color);
  color: var(--third-color);
}




.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -60px 0px;
  padding: 0px;
}
.container h3{
  padding-top: 30px;
  color: var(--second-color);
  text-align: center;
}
.container h3,p{
  color: var(--second-color);
  text-align: center;
}
.products h2{
  color: var(--second-color);
  text-align: center;
  margin: 20px;
  font-size: 35px;
}
.products {
  padding: 50px;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product {
  text-align: center;
  margin-bottom: 40px;
  margin: 50px;
  padding: 30px ;
  border-radius: 5px;
  /* border: 2px solid var(--second-color); */
}
.product img {
  max-width: 100%;
  width: 280px;
  height: 260px;
}
.product h3 {
  margin-top: 10px;
}
.product p {
  color: var(--second-color);
  margin-top: 20px;
  font-weight: 500;
}
.product button {
  background: var(--primary-color);
  border: 2px solid var(--second-color);
  margin: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor:pointer;
}
.pro-btn{
  text-align: center;
}
.pro-btn button{
  background: var(--primary-color);
  border: 2px solid var(--second-color);
  margin-bottom: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor:pointer;
}
.pro-btn button:hover{
  background: var(--second-color);
  color: var(--third-color);
}
.product button:hover {
  background: var(--second-color);
  color: var(--third-color);
}
#hidden{
  visibility: hidden;
  /* position: absolute; */
}




.review {
  color: var(--second-color);
  text-align: center;
  margin: 40px;
  font-size: 35px;
}
.youtube{
  display: flex;
  justify-content: center;
  margin: 50px;
}


.contact{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.contact h1{
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
  color: var(--second-color);
  text-align: center;
  margin-top: 85px;
}

.contact p{
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 10px;
}
.contact form{
  text-align: left;
}
.contact form label{
  margin-bottom:8px;
  color: var(--second-color);
  font-weight: 800px;
}
.contact input.submit, input.reset{
  background: var(--primary-color);
  border: 2px solid var(--second-color);
  margin: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor:pointer;
}
.contact input.submit:hover, input.reset:hover {
  background: var(--second-color);
  color: var(--third-color);
}
.locate{
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.locate p{
  margin-bottom: 40px;
}


footer{
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.footer ul:first-child {
  margin-top: 30px;
}
.footer ul li {
  list-style: none;
  margin: 30px;
}
.footer ul li a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor:pointer;
}
.footer ul li a:hover {
  background: var(--second-color);
  color: var(--third-color);
}
.social{
  display: inline;
  text-align: center;
  margin-left: 100px;
  margin-top: 120px;
}
.social ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.social ul li{
  margin: 20px;
}
.social ul li a{
  cursor: pointer;
  color: var(--second-color);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
}
.social ul li a:hover{
  color: var(--primary-color);
}
.social h3{
  color:var(--second-color);
  font-weight: 500;
  padding: 15px;
  text-decoration: none;
}
.Copyright{
  color: var(--second-color);
  text-align: center;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 10px;
}


.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: var(--second-color);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: var(--third-color);
  border-radius: 30px;
  font-size: 20px;
}